<a href="https://colab.research.google.com/github/fermuba/PI_ML_OPS_MOVIES/blob/main/IngestaDS_Movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ingesta de Data set Proyecto Individual HENRY DT-PT01

In [3]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import pandas as pd
import numpy as np

movie = pd.read_csv('/content/drive/MyDrive/Colab/HENRY/PI-1/movies_dataset.csv')

<ipython-input-4-4f0cc77382df>:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movie = pd.read_csv('/content/drive/MyDrive/Colab/HENRY/PI-1/movies_dataset.csv')

In [14]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [13]:
movie.sample(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
26673,False,NaN,0,"[{'id': 10752, 'name': 'War'}]",NaN,16444,tt0034734,en,The First of the Few,This 1942 fictionalized biopic chronicles the ...,...,1942-09-14,0.0,118.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The First of the Few,False,6.3,9.0
7962,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,20876,tt0100602,en,A Shock to the System,Madison Avenue executive Graham Marshall has p...,...,1990-03-23,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,A Shock to the System,False,6.7,24.0